<div class="container">
    <div class="box">
        <div class="header">
            <h1>Contact</h1>
            <p>Home / Contact</p>
        </div>
        <hr>
        <div class="contact-body">
            <div class="information">
                <h1>header</h1>
                <p>paragraph</p>
                <h4 class="phone">(123)-456-7890</h4>
                <h4 class="email">no_email@no_email.com</h4>
                <h4 class="address">123 st, 123</h4>
            </div>
            <hr>
            <div class="contact-form">
                <form action="" class="form">
                    <label for="full-name">Full Name</label>
                    <input type="text">
                    <label for="Email">Email</label>
                    <input type="email" placeholder="abcd@abcd.com">
                    <label for="body">body</label>
                    <!-- <input type="text" class="large-input"> -->
                    <textarea name="" id="" cols="30" rows="10" class="large-input"></textarea>
                    <button>Send Message</button>
                </form>
            </div>
        </div>
    </div>
</div>