<div class="container">
    <div class="box">
        <div class="header">
            <h1>About Rent-A-Car</h1>
            <p>Home / About</p>
            <hr>
        </div>
        
        
        <div class="Infor">
            <div class="image">
                <img src="https://hips.hearstapps.com/hmg-prod/images/death-valley-bolt-1585769851.jpg" alt="">
            </div>
            <hr>
            <div class="paragraph">
                <h1>We</h1>
                <p>Rent-A-Car is an ongoing American success story. Our guiding principles, and humble beginning, revolve around personal honesty and integrity. We believe in strengthening our communities one neighborhood at a time, serving our customers as if they were our family, and rewarding hard work. These things are as true today as they were when we were founded in 1957.</p>
            </div>
        </div>
    </div>
</div>