<!-- <div class="container">
    <div class="left">
        <h1>Information</h1>
        <p>some description about the rental car company and about our product</p>
        <h4>(123)-456-7890</h4>
        <h4>abcd@gmail.com</h4>
    </div>
    <div class="middle">
        <h1>Working Hours</h1>
        <p>Mon - Fri: 9:00AM - 9:00PM</p>
        <p>Sat: 9:00AM - 4:00PM</p>
        <p>Sun: Closed</p>
        
    </div>
    <div class="right">
        <h1>Subcription</h1>
        <p>Subscribe your Email address for latest news & updates.</p>
        <input type="email" placeholder="Email">
        <button>Subscribe</button>
    </div>
</div> -->
<div>
    <div class="footer">
        <div class="left">
            <h1>Information</h1>
            <p>some description about the rental car company and about our product</p>
            <h4>(123)-456-7890</h4>
            <h4>abcd@gmail.com</h4>
        </div>
        <div class="middle">
            <h1>Working Hours</h1>
            <p>Mon - Fri: 9:00AM - 9:00PM</p>
            <p>Sat: 9:00AM - 4:00PM</p>
            <p>Sun: Closed</p>
            
        </div>
        <div class="right">
            <h1>Subcription</h1>
            <p>Subscribe your Email address for latest news & updates.</p>
            <div class="subscribe">
                <input type="email" placeholder="Email">
                <button>Subscribe</button>
            </div>
        </div>
    </div>
</div>