<div class="d-none d-sm-block">
    <div class="desktop-navbar">
        <div class="logo" routerLink="/Home">
            <i class="fa-solid fa-car-side"></i>
            <p>RentalCar</p>
        </div>
        <div class="links">
            <li routerLink="/Home">Home</li>
            <li routerLink="/About">About</li>
            <li routerLink="/Models">Models</li>
            <li routerLink="/Testimonials">Testimonials</li>
            <li routerLink="/Team">Our Team</li>
            <li routerLink="/Contact">Contact</li>
        </div>
        <div class="user">
            <button class="logIn">Log In</button>
            <button class="SignUp">Sign Up</button>
        </div>
    </div>
</div>
<div>
    <div class="movil-navbar">
        
    </div>
</div>