<div class="book">
    <h2>Book a car</h2>
    <form class="booking-form">
        <div class="car-type">
            <label for="">Select your car</label>
            <select name="cars" id="cars" >
                <option *ngFor="let car of cars" value="">{{car.Brand}} {{car.Model}}</option>
            </select>
        </div>
        <div class="car-type">
            <label for="">Pick-up location</label>
            <select>
                <option *ngFor="let city of cities" value="">{{city}}</option>
            </select>
        </div>
        <div class="car-type">
            <label for="">Drop-of location</label>
            <select>
                <option *ngFor="let city of cities" value="">{{city}}</option>
            </select>
        </div>
        <div class="car-type">
            <label for="">Pick up date</label>
            <input type="date" name="" id="Pick-up" min="{{today_date | date: 'yyyy-MM-dd'}}" (change)="min_drop()">
        </div>
        <div class="car-type">
            <label for="">Drop-of Date</label>
            <input type="date" name="" id="Drop-of" min="{{drop_date | date: 'yyyy-MM-dd'}}">
        </div>
        <div>
            <button type="button" class="search">Book</button>
        </div>
    </form>
</div>