.container{
    /* background-color: rgb(247, 247, 247); */
    width: 100%;
    place-items: center;
    box-sizing: border-box;
    display: grid;
    background-color: transparent;
    padding: 100px 0 50px 0;
}
.container > *{
    padding: 20% 0;
    width: 100%;
}

