<div class="container">
    <div class="models">
        <div class="header">
            <h1>Available car models</h1>
            <p>Home / Models</p>
            <hr>
        </div>
        <div class="card-container">
            <div class="card" *ngFor="let car of available_cars">
                <img src="/assets/cars/{{car.Brand}}{{car.Model}}.jpg" alt="">
                <div class="card-body">
                    <h1>{{car.Brand}} {{car.Model}}</h1>
                    <div class="details">
                        <p><i class="fa-solid fa-user"></i> {{car.Doors}}</p>
                        <p><i class="fa-solid fa-worm"></i> {{car.Transmission}}</p>
                        <p><i class="fa-solid fa-calendar"></i> {{car.Year}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>