.container{
    width: 100%;
    height: 100vh;
    place-items: center;
    background-color: transparent;
    margin-top: 150px;
    padding: 0 0 50px 0;
    overflow: hidden;
    gap: 10px;
}
.header h1{
    letter-spacing: 1px;
    text-transform: uppercase;
}
.header p{
    color: rgb(161, 161, 161);
}
.car_card hr{
    width: 100%;
    border: solid black;
    border-width: 0 0 1px 0;
}
.reservation{
    margin-top: 5%;
}
.drop_pick{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 20px 0px;
}
.low_header{
    font-size: 20px;
    font-weight: 600;
    padding-left: 20px;
    width: 100%;
    border-bottom: 1px solid black;
}
.checkbox{
    margin: auto;
}
.checkbox >* {
    margin: 5px;
}
.reservation input[type=text], input[type=number]{
    width: 100%;
    padding: 5px 20px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 600px;
    outline: 0;
    border: 0;
    background-color: rgb(240, 240, 240);
    border-radius: 10px
}
.date_input{
    display: flex;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 10px;
}
.date_input div{
    display: flex;
    padding: 1% 0;
    gap: 10px;
}
.date_input h4{
    font-size: 15px;
    margin: auto 1% auto 1%;
    
}
.reservation input[type=date], input[type=time]{
    background-color: transparent;
    border-radius: 5px;
    padding: 0  0 0 10px;
    border: 1px solid black;
}
.driver_info{
    display: flex;
    justify-content: right;
    gap: 10px;
}
.driver_info > *{
    flex-grow: 1;
}
.select_age{
    display: flex;
    gap: 10px;
    padding: 5px 20px;
    font-size: 20px;
    letter-spacing: 1px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px
}
.button{
    width: 100%;
    padding: 1%;
}
.button button{
    margin: auto;
    color: white;
    background-color: black;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    padding: 5px 30px;
}
.reservation input:hover{
    background-color: rgb(214, 214, 214);
}
.button button:hover{
    background-color: rgb(32, 32, 32);
}
.car_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    gap: 50px;
    padding: 2%;
    overflow: hidden;
    /* animation: 1s appear forwards; */
}
.car_card{
    max-width: 300px;
    max-height: 300px;
    overflow:hidden;
    position: relative;
    border-radius: 5px;
    box-shadow:  6px 6px 16px #666666, -6px -6px 16px #ffffff;
    cursor: pointer;
    animation: 1s appear forwards;
}
.car_card img{
    width: 100%;
    object-fit: contain;
}
.car_card div{
    position: absolute;
    width: 100%;
    bottom: 10px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: space-evenly;
}
.car_card:hover img{
    animation: 1s grow forwards;
}
@keyframes grow {
    to{
        transform: scale(1.20);
    }
}
@keyframes appear {
    from { opacity: 0;}
    to { opacity: 1;}
}